{% load staticfiles %}
<html>
    <head>
        <title>LXC Web Management</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    </head>
    <body>
    <div class="page-header">
            <h1><span class="glyphicon glyphicon-leaf"></span><a href="/">LXC Web Management</a></h1>
        {% if user.is_authenticated %}
            <ul class="nav nav-pills top-menu">
                <img src="https://linuxcontainers.org/static/img/containers.png" alt="Mountain View" class="img-logo">
                <li role="presentation" class="active"><a href="{% url 'containers_list' %}">Show all<span class="glyphicon glyphicon-list"></span></a></li>
                <li role="presentation" class="active"><a href="{% url 'container_new' %}"><span class="glyphicon glyphicon-plus">Create</span></a></li>
            </ul>
        {% endif %}
    </div>
    <div class="content container">
    <div class="row">
    <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
